@{
    Layout = "~/Views/_BasicLayout.cshtml";
    ViewBag.Title = "Geography Master";
}

<section class="met_content met_full_portfolio columns_3">
    <div class="met_fp_item mix illustration">
        <div class="met_fp_item_preview">
            <img src="~/Content/photos/index/europe.gif" alt="" />
            <div class="met_fpip_overlay met_vcenter">
                <div class="met_fpipo_box">
                    @Html.ActionLink("Play", "Category", new { idCategory = 1 })
                    @*TODO: send categoryId from Model in the ActionLink *@
                    <a href="~/Content/photos/indexBig/europe.gif" rel="lb_02" class="met_color_transition">View</a>
                </div>
            </div>
        </div>
        <div class="met_fp_item_text">
            <div class="met_fp_item_text_container">
                <h3><a href="project_details.html" class="met_fp_item_link met_color_transition">Europe</a></h3>
                <p>The smallest continent after Australia, Europe has a wide variety of climates and landscapes. The tundra of the far north gives way to a cool, wet, heavily forested region. The North European Plain is well-drained, fertile,and rich in oil, coal,and natural gas. The shores of the Mediterranean are generally warm, dry, and hilly, ideal for cultivating olives, citrus fruit, and grapes. A great curve of mountain ranges, including the Pyrenees, Alps, and Carpathians, divides north from south. To the east, the rolling plains of European Russia and the Ukraine, clad in coniferous forests or cultivated for wheat, run up to the Ural Mountains.</p>
            </div>
        </div>
    </div>

    <div class="met_fp_item mix illustration">
        <div class="met_fp_item_preview">
            <img src="~/Content/photos/index/asia.gif" alt="" />
            <div class="met_fpip_overlay met_vcenter">
                <div class="met_fpipo_box">
                    @Html.ActionLink("Play", "Category", new { idCategory = 2 })
                    <a href="~/Content/photos/indexBig/asia.gif" rel="lb_02" class="met_color_transition">View</a>
                </div>
            </div>
        </div>
        <div class="met_fp_item_text">
            <div class="met_fp_item_text_container">
                <h3><a href="project_details.html" class="met_fp_item_link met_color_transition">Asia</a></h3>
                <p>The Ural Mountains form a huge natural boundary between European and Asian Russia. East of the Urals, vast areas of windswept grassland stretch as far as the Pacific Ocean. The central Asian republics lie along the ancient Silk Road between Asia and Europe, where traditional nomadic lifestyles are being replaced by agriculture and mineral prospecting.</p>
            </div>
        </div>
    </div>

    <div class="met_fp_item mix illustration">
        <div class="met_fp_item_preview">
            <img src="~/Content/photos/index/australia_oceania.gif" alt="" />
            <div class="met_fpip_overlay met_vcenter">
                <div class="met_fpipo_box">
                    @Html.ActionLink("Play", "Category", new { idCategory = 3 })
                    <a href="~/Content/photos/indexBig/australia_oceania.gif" rel="lb_02" class="met_color_transition">View</a>
                </div>
            </div>
        </div>
        <div class="met_fp_item_text">
            <div class="met_fp_item_text_container">
                <h3><a href="project_details.html" class="met_fp_item_link met_color_transition">Australia and Oceania</a></h3>
                <p>Oceania, a continent of islands stretching across a vast area of the Pacific Ocean, is home to only 0.5 per cent of the world's population. Dominated by Australia, it includes few other countries with significant land mass apart from New Zealand, Papua New Guinea, and Fiji, but has a myriad volcanic and coral islands, split into three main groups: Micronesia, Melanesia, and Polynesia. Australia, flat and dry, is sparsely populated, most people living along the coastal lowlands, especially in the southeast. Its first inhabitants, the Aboriginal peoples, retain some of their original lands in the interior, but the European and Asian settlers of recent centuries form most of the population. Australia is rich in minerals, such as gold, uranium, and iron ore, which are the basis of its prosperity.</p>
            </div>
        </div>
    </div>

    <div class="met_fp_item mix photoshop">
        <div class="met_fp_item_preview">
            <img src="~/Content/photos/index/south_america.gif" alt="" />
            <div class="met_fpip_overlay met_vcenter">
                <div class="met_fpipo_box">
                    @Html.ActionLink("Play", "Category", new { idCategory = 4 })
                    <a href="~/Content/photos/indexBig/south_america.gif" rel="lb_02" class="met_color_transition">View</a>
                </div>
            </div>
        </div>
        <div class="met_fp_item_text">
            <div class="met_fp_item_text_container">
                <h3><a href="project_details.html" class="met_fp_item_link met_color_transition">South America</a></h3>
                <p>The world 's fourth-largest continent includes one of its most important resources - the Amazonian rainforest. It is a major source of oxygen and includes half of all known living species, while the Amazon - the world 's second-longest river - contains one-fifth of the world 's fresh water. The Andes mountain chain reaches down South America 's western flank, sheltering the prairies of the Gran Chaco, the Pampas, and the wastes of the far south.Most South Americans are mestizo - of mixed European and Amerindian descent - and live in the coastal regions. Spanish is the most widely spoken language,and over 90% of South Americans are Roman Catholic. South America has massive mineral resources,many exploited by US and European multinationals.</p>
            </div>
        </div>
    </div>

    <div class="met_fp_item mix photoshop">
        <div class="met_fp_item_preview">
            <img src="~/Content/photos/index/north_america.gif" alt="" />
            <div class="met_fpip_overlay met_vcenter">
                <div class="met_fpipo_box">
                    @Html.ActionLink("Play", "Category", new { idCategory = 5 })
                    <a href="~/Content/photos/indexBig/north_america.gif" rel="lb_02" class="met_color_transition">View</a>
                </div>
            </div>
        </div>
        <div class="met_fp_item_text">
            <div class="met_fp_item_text_container">
                <h3><a href="project_details.html" class="met_fp_item_link met_color_transition">North America</a></h3>
                <p>North America 's climate is as varied as its topography: much of Canada is snowbound or clothed in forest, its sparse population congregating along the US border. Along the continent 's western flank are the spectacular Rocky Mountains. To the east lie the older, wooded Appalachians. Between these are the Great Plains - grazed by herds of livestock or sown with cereals.. These plains were once home to tribes of native Americans, supplanted by incoming white settlers. The population and industry of the US are concentrated in the temperate northeast, while the drier south and west are rural and thinly populated. North America is rich in minerals and oil. Mexico has the world 's largest Spanish-speaking population. Central America and the Caribbean contain some 20 countries and numerous small islands. The climate is tropical and prone to storms,the landscape mountainous and volcanic.</p>
            </div>
        </div>
    </div>

    <div class="met_fp_item mix photoshop">
        <div class="met_fp_item_preview">
            <img src="~/Content/photos/index/africa.gif" alt="" />
            <div class="met_fpip_overlay met_vcenter">
                <div class="met_fpipo_box">
                    @Html.ActionLink("Play", "Category", new { idCategory = 6 })
                    <a href="~/Content/photos/indexBig/africa.gif" rel="lb_02" class="met_color_transition">View</a>
                </div>
            </div>
        </div>
        <div class="met_fp_item_text">
            <div class="met_fp_item_text_container">
                <h3><a href="project_details.html" class="met_fp_item_link met_color_transition">Africa</a></h3>
                <p>Africa is the second-largest continent after Asia. It is dominated by the Sahara in the north and the Great Rift Valley in the east. The Mediterranean climate of the extreme north and south enables cultivation of grapes and other fruit. A belt of tropical rainforest lies along the Equator, while Africa's great tropical grasslands provide grazing for herds of wild animals and domestic livestock. A narrow strip of Egypt is watered by the world's longest river, the Nile, which has sustained communities from prehistoric times. The centre and south of the continent are rich in minerals. Just over one-tenth of the world's population lives in Africa - a wide variety of peoples with their own distinctive languages and cultures. Although Islam and Christianity are widespread, many Africans adhere to their own local customs and religious beliefs.</p>
            </div>
        </div>
    </div>
</section>
