@model geographymaster.Models.QuestionViewModel

@{
    ViewBag.Title = "AddQuestion";
    Layout = "~/Views/_BasicLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="question-rectangle">
        <fieldset class="question">
            <label class="question-label">Question</label>

            <div class="editor-label-question">
                Category:
            </div>
            <div class="editor-field-question">
                @Html.DropDownListFor(model => model.CategoryId, new SelectList(Model.Categories, "IdCategory", "Continent"))
                @Html.ValidationMessageFor(model => model.Categories)
            </div>

            <div class="editor-label-question">
                Question:
            </div>
            <div class="editor-field-question">
                @Html.HiddenFor(model => model.QuestionId)
                @Html.EditorFor(model => model.QuestionDetails.Question1)
                @Html.ValidationMessageFor(model => model.QuestionDetails.Question1)
            </div>

            <div class="editor-label-question">
                Number of stars:
            </div>
            <div class="editor-field-question">
                @Html.EditorFor(model => model.QuestionDetails.NoStars)
                @Html.ValidationMessageFor(model => model.QuestionDetails.NoStars)
            </div>

            <p class="submit-padding">
                <input type="submit" value="Create" class="question-submit" />
            </p>
        </fieldset>
    </div>
}