@model geographymaster.Models.QuestionViewModel

@{
    ViewBag.Title = "EditQuestion";
    Layout = "~/Views/_BasicLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="login-rectangle">
        <fieldset class="login">

            <div class="editor-label-login">
                Category:
            </div>
            <div class="editor-field-edit">
                @Html.DropDownListFor(model => model.CategoryId, new SelectList(Model.Categories, "IdCategory", "Continent"))
                @Html.ValidationMessageFor(model => model.Categories)
            </div>

            <div class="editor-label-login">
                Subcategory:
            </div>
            <div class="editor-field-edit">
                @Html.DropDownListFor(model => model.SubcatetegoryId, new SelectList(Model.Subcategories, "IdSubcategory", "Subcategory1"))
                @Html.ValidationMessageFor(model => model.Subcategories)
            </div>

            <div class="editor-label-login">
                Question:
            </div>
            <div class="editor-field-edit">
                @Html.HiddenFor(model => model.QuestionId)
                @Html.EditorFor(model => model.QuestionDetails.Question1)
                @Html.ValidationMessageFor(model => model.QuestionDetails.Question1)
            </div>

            <div class="editor-label-login">
                Number of stars:
            </div>
            <div class="editor-field-login">
                @Html.EditorFor(model => model.QuestionDetails.NoStars)
                @Html.ValidationMessageFor(model => model.QuestionDetails.NoStars)
            </div>

            <p class="submit-padding">
                <input type="submit" value="Save" class="login-submit" />
            </p>
        </fieldset>
    </div>
}

<p class="login-links">
    [@Html.ActionLink("Back to List", "ListQuestions", "Admin")]
</p>
